body {
  margin: 0 auto;
  overflow: hidden;
}

#wrp {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: table;
}

#treeContainer {
  font-size: 0;
  display: inline-block;
  margin: 0 auto;
  width: 250px;
  height: 100vh;
}

#logs0,
#logs1,
#logs2,
#logs3,
#logs4,
#logs5 {
  display: inline-block;
  margin: 0 auto;
  width: 200px;
  height: 120px;
  outline: 1px solid black;
}

#wrapper {
  width: 100%;
  height: 100vh;
}

#dude {
  position: absolute;
  outline: 1px solid black;
  width: 200px;
  height: 250px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.rightStick {
  font-size: 1rem;
  background-color: red;
}

.leftStick {
  font-size: 1rem;
  background-color: blue;
}

.noStick {
  content: "no";
  font-size: 1rem;
}

.left {
  transform: translateX(-250px);
}

.right {
  transform: translateX(+250px);
}

#score {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#loseScreen {
  position: absolute;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: table;
  left: -100%;
}

#loseScreen h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 10rem;
  color: #3c4048;
}

#reset {
  position: absolute;
  outline: 1px solid black;
  width: 250px;
  height: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 600px;
}

#reset:hover {
  cursor: pointer;
}

.lost {
  left: 0 !important;
}
